h1 {
  color: rgb(255, 0, 149);
  font-size: 200%;
}

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-indent: 20px;
  margin-left: 10px;
  color:yellow
}

#content {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #00ff59;
    background-color: #000000;  
  }
